.industries {
  margin: 0 auto;
  text-align: center;
  padding: 0 35px; }
  .industries--edit {
    background-color: #f9fafd;
    padding: 20px 0; }
  .industries__title {
    font-family: "Poppins", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    margin: 50px 0 0 0; }
  .industries__subtitle {
    font-weight: bold; }
  .industries__boxtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    margin: 0 0 15px 0; }
    .industries__boxtitle--center {
      font-size: 20px;
      font-weight: 400; }
  .industries__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 0 50px 0; }
    .industries__items--edit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .industries__items--center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0 20px 50px; }
  .industries__item {
    width: calc(100% / 5 - 10px);
    padding: 20px;
    background-color: #f9fafd;
    margin: 15px 5px;
    vertical-align: baseline; }
    .industries__item:hover {
      background-color: #c4c6cd; }
    .industries__item--edit:hover {
      background-color: #f9fafd; }
    .industries__item--center {
      width: calc(100% / 3 - 10px); }
  .industries__icon {
    max-width: 93px;
    margin: 0 0 5px 0; }
  .industries__text {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.4;
    padding: 0;
    margin: 0 0 20px 0; }
    .industries__text--edit {
      font-weight: normal;
      color: #7a7a7a;
      font-size: 14px;
      margin: 0; }
    .industries__text__center {
      width: 100%;
      text-align: center; }
  .industries__wrapp {
    max-width: 75px;
    margin: 0;
    padding: 0; }
  .industries__photo {
    max-width: 300px;
    border-radius: 50%; }
